@model ChangePasswordViewModel

<h2>Login</h2>
<!-- Menampilkan pesan error -->
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="ChangePassword" method="post">
    <div>
        <label for="Username">Username :</label>
        <input asp-for="Username" />
    </div>
    <div>
        <label for="Password">OldPassword :</label>
        <input asp-for="OldPassword" type="password" />
    </div>
    <div>
        <label for="Password">NewPassword :</label>
        <input asp-for="NewPassword" type="password" />
    </div>
    <div>
        <label for="Password">ConfirmPassword :</label>
        <input asp-for="ConfirmPassword" type="password" />
    </div>
    <button type="submit">Change Password</button>
</form>